@use "./util/index" as util;
.button {
  width: 15%;
  min-width: util.rem(48);
  min-height: util.rem(48);
  color: util.$button-textcolor;
  border: util.rem(2) solid util.$textbox-bordercolor;
  border-radius: util.rem(10);
  outline: none;
}
.button:hover {
  cursor: pointer;
}
.button:focus,
.button:hover {
  filter: brightness(120%);
  box-shadow: util.rem(4) util.rem(2) util.rem(5) #000;
}
